[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-script = "*"
sqlalchemy-cockroachdb = "*"
colorama = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
passlib = "*"
pyjwt = "*"
pandas = "==2.0.3"
numpy = "==1.23.4"
flask-cors = "*"

[dev-packages]
pymysql = "*"

[scripts]
dev = "flask run --port 3000 --host localhost --debug"

[requires]
python_version = "3"
