:root {
  --primary: #d4bfa5;
  --secondary: #a16e4b;
  --accent: #bc733f;
  --contrast: #572f16;
  --high-contrast: #2a190c;
  --dark-text: #2a190c;
  --light-text: #d4bfa5;
  
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--dark-text);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}